colorama==0.4.1
attrs==19.1.0
wcwidth==0.1.7
pyperclip==1.7.0
art==3.0
tabulate==0.8.3
pylint~=2.6.0
mypy~=0.782
cmd2~=1.3.9
paramiko>=1.15.2
mako>=1.0.0
pyelftools>=0.2.4
capstone>=3.0.5rc2 # See Gallopsled/pwntools#971, Gallopsled/pwntools#1160
ropgadget>=5.3
pyserial>=2.7
requests>=2.0
pip>=6.0.8
pygments>=2.0
pysocks
python-dateutil
packaging~=20.4
psutil>=3.3.0
intervaltree>=3.0
sortedcontainers~=2.2.2
unicorn>=1.0.2rc1,<1.0.2rc4
six>=1.12.0
contextlib2~=0.6.0.post1
numpy~=1.19.1
requests[socks]
bs4~=0.0.1
Sphinx
bumpversion~=0.6.0
check-manifest
pip-tools
twine~=3.2.0
watchdog~=0.10.3
wheel~=0.34.2
pyyaml
cryptography~=3.1
docutils~=0.16
coverage~=5.2.1
pytest~=6.0.1
# This packages are required to install and run our package.
lxml~=4.5.2
html_to_etree

# This packages are required before running setup (i.e. build commands require
# to import this packages).
# This packages are required to run all the tests and perform checks.
flake8~=3.8.3
pytest
netifaces
helpers
argparse~=1.4.0
typing~=3.7.4.3
ipython~=7.17.0
gnureadline~=8.0.0
argcomplete~=1.11.1
idna~=2.10
config~=0.5.0.post0
google~=3.0.0
beautifulsoup4~=4.9.1
SQLAlchemy~=1.3.19